
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');


h1, h3 {
    text-align: center;
    
}
body {
    font-family: Gowun Batang, Arial, sans-serif;
    background-color: #e6e6e6;
}
.grid-container {
    display: grid;
    
    justify-content:  center;
    align-content: bottom;
   
}

img {
   height: 250px;
   left: 50%;
   right: auto;
   position: absolute;
   top: 50%;
   width: 100%;
   

}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px) 
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: #ddd}
  
  
  .show {display:block;}
